.gridContainer {
    display: grid;
    grid-template-columns: 0.1fr 1.9fr 0.1fr;
    grid-auto-rows: minmax(min-content,max-content);
    gap: 10px 0px;
    grid-template-areas:
      ". logo ."
      ". results ."
      ". . .";
  }
  
  .logo {
      grid-area: logo;
    }
  
  .results {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(min-content,max-content);
    gap: 20px 0px;
    grid-template-areas:
      ". . .";
    grid-area: results;    
  }
  
.logoImg{
    height: 50px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.titleStyle{
  font-size: 35px;
  font-family: 'Gruppo', cursive;  
  color: white;
  margin: 0;
}

