@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Poiret+One&family=Saira+Semi+Condensed:wght@300&display=swap');

.gridContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(min-content,max-content);
  gap: 15px 0px;
  grid-template-areas:
    "header"
    "main";
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "logo . account";
  grid-area: header;
}

.logo {
  grid-area: logo;
}

.account {
  grid-area: account;
  justify-self: end;
 }

.main {
  display: grid;
  grid-template-columns: 1.5fr 0.5fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "pOne pTwo";
  grid-area: main;
}

.pOne {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.5fr 0.5fr;
  gap: 10px 0px;
  grid-template-areas:
    "bar"
    "buttons";
  grid-area: pOne;
}

.bar {
  grid-area: bar;
  justify-self: center;
  background-color: rgba(255, 255, 255, 0.123);
  width: fit-content;
  height: fit-content;
  border-radius: 20px;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: minmax(min-content,max-content);
  gap: 8px 0px;
  grid-template-areas:
    ". . ."
    ". . .";
  grid-area: buttons;
  margin-left: 20px;
}

.pTwo {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px 0px;
  grid-template-areas:
    "wheelOne"
    "wheelTwo"
    "wheelThree";
  grid-area: pTwo;
}

.wheelOne {
  grid-area: wheelOne;
  height: fit-content;
 }

.wheelTwo {
  grid-area: wheelTwo;
  height: fit-content;
 }

.wheelThree {
  grid-area: wheelThree;
  height: fit-content;
 }

.logoImg{
    height: 50px;
    position: relative;
    left: 35px;
    top: 15px;
}

.menuButtons{
    height: 70px;
    width: 350px;
    font-size: 20px;
    background-color: #00fa9a96;
    color: white;
    border-radius: 20px;
    border:none;
    font-family: 'Gruppo',cursive;
    font-size: 25px;
}

.menuButtons:hover{
    background-color: white;
    color: grey;
    cursor: pointer;
    font-size: 30px;
    transition: 0.6s;
}

.doughnutGraph{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  width: 250px;
}

.doughnutTitle{
  text-align: center;
  color: white;
  font-family: 'Gruppo',cursive;
  position: relative;
  top: 70%;
  margin:0;
}

.accountInfo{
  color: white;
  font-size: 40px;
  font-family: 'Gruppo',cursive;
  margin:0;
}

.signOutButton{
  border-radius: 50%;
  height: 30px;
  width: 40px;
  justify-self: end;
  border:none;
  background-color: #00fa9a96;
  color: white;
  margin-left: 10px;
  margin-right: 10px;
}

.signOutButton:hover{
  cursor: pointer;
  background-color: white;
  color: #00fa9a96;
}

.carTitlePopularity{
  text-align: center;
  color: white;
  font-family: 'Gruppo',cursive;
  font-size: 25px;
}







