@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Poiret+One&family=Saira+Semi+Condensed:wght@300&display=swap');

.gridContainer {
  display: grid;
  grid-template-columns: 0.3fr 1.7fr 0.3fr;
  grid-template-rows: 0.3fr 2.6fr 0.1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". logo ."
    ". form ."
    ". . .";
}

.logo { grid-area: logo; }

.form {
  display: grid;
  background:rgba(128, 128, 128, 0.363);
  border: solid 1px rgba(255, 255, 255, 0.356);
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 2.6fr 0.2fr;
  gap: 0px 0px;
  grid-template-areas:
    "title"
    "input"
    "submit";
  grid-area: form;
  border-radius: 20px;
  
  
}

.title {
  grid-area: title;
}

.input {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "pOne pTwo";
  grid-area: input;
}

.pOne {
  grid-area: pOne;
 }

.pTwo {
  grid-area: pTwo;
 }

.submit {
  grid-area: submit;
 }

.logoImg{
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.logoImg:hover{
  cursor: pointer;
}

.inputField{
    display: block;
    margin-left: auto;
    margin-right:auto ;
    height: 50px;
    width: 400px;
    font-size: 20px;
    color: grey;
    background-color: rgba(255, 255, 255, 0.747);
    border-radius: 17px;
    border: solid 1px rgba(255, 255, 255, 0.747);
    margin-top: 10px;
    font-family: 'Gruppo',cursive;
  }

  .inputFieldDate{
    display: inline;
    position: relative;
    left: 14.5%;
    height: 50px;
    width: 280px;
    font-size: 20px;
    color: grey;
    background-color: rgba(255, 255, 255, 0.747);
    border-radius: 17px;
    border: solid 1px rgba(255, 255, 255, 0.747);
    margin-top: 10px;
    font-family: 'Gruppo',cursive;
  }

  .inputFieldTime{
    position: relative;
    left: 67%;
    height: 50px;
    width: 100px;
    top:-65px;
    font-size:16px;
    color: grey;
    background-color: rgba(255, 255, 255, 0.747);
    border-radius: 17px;
    border: solid 1px rgba(255, 255, 255, 0.747);
    margin-top: 10px;
    font-family: 'Gruppo',cursive;
  }

  .textArea{
    height: 155px;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right:auto ;
    font-size: 15px;
    color: rgb(90, 90, 90);
    background-color: rgba(255, 255, 255, 0.747);
    border-radius: 17px;
    border: solid 1px rgba(255, 255, 255, 0.747);
    resize: none;
    font-size:20px;
    margin-top: -5%;
    font-family: 'Gruppo',cursive;
  }

  .textAreaLabel{
    position: relative;
    left: 15%;
    color: rgba(255, 255, 255, 0.884);
    font-size: 18px;
    top: -8.5%;
    font-family: 'Gruppo',cursive;

  }
  
  .labels{
    position: relative;
    left: 15%;
    color: rgba(255, 255, 255, 0.884);
    font-size: 18px;
    font-family: 'Gruppo',cursive;
  }

  .title{
      font-size: 25px;
      color: white;
      text-align: center;
      font-family: 'Gruppo',cursive;
  }

  .button{
    display: block;
    margin-left: auto;
    margin-right:auto;
    margin-top: 2%;
    margin-bottom: 1%;
    height: 50px;
    width: 180px;
    color: rgb(238, 224, 224);
    background-color: #68fc688c;
  border:none;
    border-radius: 10px;
    font-size: 18px;
    font-family: 'Gruppo',cursive;
  }
  
  .button:hover{
    background-color: white;
    color: grey;
    cursor: pointer;
    font-size: 20px;
  }

  .divider{
    margin-top: -7%;
    margin-bottom: -2%;

  }
  