.gridContainer {
    display: grid;
    grid-template-columns: 0.1fr 2.8fr 0.1fr;
    grid-template-rows: 0.5fr 2.4fr 0.1fr;
    gap: 0px 0px;
    grid-template-areas:
      ". logo ."
      ". form ."
      ". . .";
  }
  
  .logo {
    grid-area: logo;
 }
  
  .form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    grid-area: form;
    background:rgba(128, 128, 128, 0.363);
    border: solid 1px rgba(255, 255, 255, 0.356);
    border-radius: 20px;
    width: 50%;
    border-radius: 20px;
    margin-top: -5%;
 }

 .inputField{
  display: block;
  margin-left: auto;
  margin-right:auto ;
  height: 40px;
  width: 400px;
  font-size: 17px;
  color: grey;
  background-color: rgba(255, 255, 255, 0.747);
  border-radius: 17px;
  border: solid 1px rgba(255, 255, 255, 0.747);
  margin-top: 10px;
  font-family: 'Gruppo',cursive;
}

.inputFieldDate{
  position: relative;
  left: 22%;
  height: 40px;
  width: 280px;
  font-size: 20px;
  color: grey;
  background-color: rgba(255, 255, 255, 0.747);
  border-radius: 17px;
  border: solid 1px rgba(255, 255, 255, 0.747);
  margin-top: 10px;
  margin-bottom: 22px;
  font-family: 'Gruppo',cursive;
}

.inputFieldTime{
  position: relative;
  font-family: 'Gruppo',cursive;
  left: 23%;
  height: 40px;
  width: 105px;
  font-size:15px;
  color: grey;
  background-color: rgba(255, 255, 255, 0.747);
  border-radius: 17px;
  border: solid 1px rgba(255, 255, 255, 0.747);
  margin-top: 10px;
}

.labels{
  position: relative;
  text-align: center;
  left: 22%;
  color: rgba(255, 255, 255, 0.884);
  font-size: 18px;
  font-family: 'Gruppo',cursive;
}

  .title{
    font-size: 20px;
    color: white;
    text-align: center;
    font-family: 'Gruppo',cursive;
}

.button{
  display: block;
  margin-left: auto;
  margin-right:auto;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 50px;
  width: 180px;
  color: rgb(238, 224, 224);
  background-color: #68fc688c;
  border:none;
  border-radius: 10px;
  font-size: 18px;
  background-color: #68fc688c;
  font-family: 'Gruppo',cursive;

}

.button:hover{
  background-color: white;
  color: grey;
  cursor: pointer;
  font-size: 20px;
}

.divider{
  margin-top: -7%;
  margin-bottom: -2%;
  width:700px;

}

.logoImg{
  height: 50px;
}
  