@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Poiret+One&family=Saira+Semi+Condensed:wght@300&display=swap');

.gridContainer {
    display: grid;
    grid-template-columns: 0.1fr 1.9fr 0.1fr;
    grid-template-rows: 0.5fr 2.4fr 0.1fr;
    gap: 0px 0px;
    grid-template-areas:
      ". logo ."
      ". results ."
      ". . .";
  }
  
  .logo {
      grid-area: logo;
    }
  
  .results {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      ". . .";
    grid-area: results;
    position: relative;
    bottom: 7%;
    height: fit-content;
  }
  

.logoImg{
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title{
    font-size: 35px;
    font-family: 'Gruppo', cursive; 
    color: white;
    position: relative;
    left: 20px;
  
}